@{
    ViewBag.Title = "Đăng Nhập";
}

<div class="main">
    <div class="background">
        <div class="content">
            <div class="intro-form">
                <h1>Web Oder & <br><span>Introducing Hue Cuisine</span></h1>
                <p class="par">
                    Trong kho tàng ẩm thực Việt Nam với khoảng 1.700 món,
                    Huế chiếm đến hơn 1.300 món, trải rộng trên các dòng ẩm thực chính như:
                    Món Chính, Món Phụ, Món Chay, Bánh Truyền Thống, Đồ Uống & Chè, với sự đa dạng từ ẩm thực cung đình tinh tế đến ẩm thực dân gian mộc mạc và chay thanh đạm.
                </p>
            </div>

            <div class="login-form">
                <h2>Đăng Nhập</h2>
                <form method="post" action="/Home/Login">
                    <!-- Nhãn cho trường Tên Đăng Nhập -->
                    <label for="username">Tên Đăng Nhập:</label>
                    <input type="text" id="username" name="username" required />
                    <br>

                    <!-- Nhãn cho trường Mật Khẩu -->
                    <label for="password">Mật khẩu:</label>
                    <input type="password" id="password" name="password" required />
                    <br>

                    <!-- Thông Báo Lỗi -->
                    <div class="error-message">
                        @ViewBag.Message
                    </div>

                    <!-- Nút Đăng Nhập -->
                    <button type="submit">Đăng Nhập</button>

                    <!-- Liên kết đến phần Đăng Ký nếu người dùng chưa có tài khoản -->
                    <div class="Description-Register">
                        <p>Bạn chưa có tài khoản?</p>
                        <a href="/Home/Register" id="registerLink">Đăng Ký</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>