@{
    ViewBag.Title = "Đăng Ký";
}

<div class="main">
    <div class="background">
        <div class="content">
            <div class="intro-form">
                <h1>Web Oder & <br><span>Introducing Hue Cuisine</span></h1>
                <p class="par">
                    Trong kho tàng ẩm thực Việt Nam với khoảng 1.700 món,
                    Huế chiếm đến hơn 1.300 món, trải rộng trên các dòng ẩm thực chính như:
                    Món Chính, Món Phụ, Món Chay, Bánh Truyền Thống, Đồ Uống & Chè, với sự đa dạng từ ẩm thực cung đình tinh tế đến ẩm thực dân gian mộc mạc và chay thanh đạm.
                </p>
            </div>

            <div class="register-form">
                <h2>Đăng Ký</h2>
                <form action="/Home/Register" method="post">
                    <!-- Nhãn cho thông tin cho người dùng -->
                    <label for="fullname">Họ và Tên:</label>
                    <input type="text" id="fullname" name="fullname" required />
                    <br>

                    <!-- Nhãn cho trường giới tính sử dụng radio button -->
                    <label for="gender">Giới Tính:</label>
                    <span class="gender-options">
                        <label for="male">Nam</label>
                        <input type="radio" id="nam" name="sex" value="Nam" required />
                        <label for="female">Nữ</label>
                        <input type="radio" id="nữ" name="sex" value="Nữ" required />
                        <br>
                    </span>

                    <!-- Nhãn cho trường số điện thoại -->
                    <label for="phone">Số điện thoại:</label>
                    <input type="tel" id="phone" name="phone" required />
                    <br>

                    <!-- Nhãn cho trường địa chỉ -->
                    <label for="address">Địa Chỉ:</label>
                    <input type="text" id="address" name="address" required />
                    <br>

                    <!-- Nhãn cho trường email -->
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required />
                    <br>

                    <!-- Nhãn cho trường Tên Đăng Nhập -->
                    <label for="username">Tên Đăng Nhập:</label>
                    <input type="text" id="username" name="username" required />
                    <br>

                    <!-- Nhãn cho trường Mật Khẩu -->
                    <label for="password">Mật khẩu:</label>
                    <input type="password" id="password" name="password" required />
                    <br>

                    <!-- Nút Đăng Nhập -->
                    <button type="submit">Đăng Ký</button>

                    <!-- Liên kết đến phần đăng nhập nếu người dùng đã có tài khoản -->
                    <div class="Description-Login">
                        <p>Bạn đã có tài khoản?</p>
                        <a href="/Home/Login" id="loginLink">Đăng Nhập</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>